body {
    background: url("../imge/Capture.PNG");
    background-size: cover;
}
h1 {
    color: rgb(243, 190, 96);
}

 ul li {
    color: rgb(243, 190, 96);
    list-style-type: none;

}

 ul li:before { content:"■"; font-size:26px; vertical-align:top; padding-right:7px; }


    .heading {
        color: #ffffff;
        font-size: 30px ;
    }

    .headingParts {
        color: #B3AB91;
        font-size: 28px;


    }



    .headingCont{
      border-color: #000000;
      border :solid;
      border-width: 2px;

background: #000000;
      opacity: 1;
        filter: alpha(opacity=40);


      width: auto;
      height: auto;


     }
    h1{
        color: orange;

    }

    strong{
        font-size: 25px;
        color: orange;
        font-weight: bold;

    }

body {
    color: white;
    font-family: Calibri;
}


    




