
table{

    height: 200px;
    border: solid;
    border-color: darkgoldenrod;

}
td{
    height: 100%;
    width: 100%;

    border-color: gold;

}
#text{
text-align: right;
    height: 95%;
    width: 95%;
    border: solid;
    border-color: gold;
    margin: 3px;
    font-size: 18px;
    font: ;


}
.Buttons{
    width: 50px;
    font-size: 20px;
    background: -webkit-linear-gradient(#ffffff,khaki)


}