body{
    font-family: Arial;
}


#wrapper{
    width: 800px;



}
.article {
    border: 1px solid silver;
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 280px;
    height: 300px;
    box-shadow: 3px 3px 5px #888888;



}
.article h4 a{
    font-size: 13px;
    color: black;
    text-decoration: none;

}
.article h4 a:hover{
    font-size: 13px;
    color: black;
    text-decoration: underline;


}
.article span{
    font-size: 10px;
    line-height: 1px;
    display: block;
    margin-bottom: 10px;
}
.article p {
    line-height: 0;
    font-size: 13px;
    display: inline;


}
.article img{

    display: inline;
    float: left;


}

